# ignore ALL .log files
*.log
*__pycache__*
*.pyc

*.csv
data/

# *.h5

# ignore ALL files in ANY directory named temp
temp/ 
code/logs
code/experiments/logs
code/messageClient/logs

# Python virtual environment
venv/
.venv/